.photos {
    display: inline-block;
    background: azure;
}

.photos li {
    background: gray;
    margin: 2%;
    list-style: none;
    width: fit-content;
    float: left;
    width: 46%;
}

.photos li p{
    text-align: center;
    align-self: center;
}