.photos li {
    width: fit-content;
    list-style: none;
    display: flex;

}

.photos li p{
    text-align: center;
    display: inline-flex;
    vertical-align: center;
    margin:auto;
}

.photos {
    width: fit-content;
    background: darkslategray;
}