<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>

    $( function() {
    $( "#datepicker" ).datepicker();
    $("#timepicker").timepicker({
        timeFormat: 'h:mm p',
        interval: 60,
        startTime: '10:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    })
    } );


    </script>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <a href="{{ url_for('logout') }}">LogOut</a>
    <form method="post">
        <p>Date: <input type="text" id="datepicker" name="date"></p>
        <p>Time: <input type="text" id="timepicker" name="time"></p>
        <p>Description: <input type="text" name="description"></p>
        <p><input type="submit" value="Add Event"></p>
    </form>

</body>
</html>