<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img{
            width: 256px;
            height: 256px;
        }
    </style>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <script>
        function get_photos() {
            var description = $("#search_string").val();
            console.log(description);
            $.get("{{ url_for('get_photos') }}", {description:description}, function (data) {
                data = JSON.parse(data);
                content = "";
                for(var image in data.images){
                    image = data.images[image]
                    content += "<li>"
                    content += "<img src="+ image.image +">"
                    content += "<br>"
                    content += image.description
                    content += "</li>"
                }

                $("#photo_list").html(content)
            })
        }
    </script>
</head>
<body>
    Search by desc: <input onkeyup="get_photos()" type="text" id="search_string">
    <br>
    <div id="photos">
        <ul id="photo_list">


        </ul>
    </div>
</body>
</html>