<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

     <connectionStrings>
        <add name="cn" connectionString="Data Source=DESKTOP-EVCQN0H\SQLEXPRESS;Initial Catalog=My_lib;Integrated Security=True"/>
    </connectionStrings>

  
    
    <appSettings>
      <add key="parentTableName" value="Adresa"/>
      <add key="childTableName" value="Furnizor"/>

      <add key="parentColumnNames" value="Id_adr,Oras,Strada,Numar"/>
      <add key="childColumnNames" value="Id_fur,Nume,Cantitate,Id_adr"/>

      <add key="parentParameters" value="@Id_adr,@Oras,@Strada,@Numar"/>
      <add key="childParameters" value="@Id_fur,@Nume,@Cantitate,@Id_adr"/>

      <add key="textBoxSpacing" value="40"/>

      <add key="foreignKeyName" value="Id_adr"/>
    </appSettings>


</configuration>