li.alice{
    list-style-image: url("dorian.jpg");
}
li.bob{
    list-style-image: url("mihai_viteazul.gif");
}

ul.dialog{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


li {
    margin: 0 0 20px 0;
    left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background: aqua;
    border-radius: .4em;
    text-align: center;
    height: 130px;
    width: 500px;
}


li:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    width: 0;
    height: 0;
    border: 28px solid transparent;
    border-right-color: aqua;
    border-left: 0;
    border-top: 0;
    margin-top: -14px;
    margin-left: -28px;
}
