<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <clear />

    <!--<add name="tasksDB" providerName="System.Data.Sqlite" connectionString="URI=file:D:\Adriana_octombrie\SCOALA\CURSURI\2017-2018\MPP\C#_Tasks_Curs2\Tasks\Tasks\bin\Debug\tasks.db" /> -->

    <!-- tasks.db se gaseste in acelasi  loc cu executabilul, adica bin/debug-->

    <add name="festivalDB" connectionString="Database=festival;Data Source=localhost;User id=root;Password=root123;" />
  </connectionStrings>

  <appSettings>
    <add key="Server" value="localhost" />
    <add key="Port" value="5432" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>