
*{
    font-family: 'Courier';
}

ul{
    list-style: none;
    display: inline-block;

}

li{
    text-align:right;
}

h4{
    display: inline;
    font-size: 30px;
}

.nume,
.prenume,
.cnp{
    margin-top: 20px;
    height: 40px;
    width: 780px;
    margin-left: 40px;
    font-size: 30px;
    letter-spacing: 5px;
    background-image: url(box.png);
    background-position: 0 -4px;
    border : 2px solid;
}

.cnp,
#cnp{
    position: relative;
    width: 580px;
    right: 200px;
}

