header{
    background-color : red;
    height: 220px;

}

#headerText{
    padding-top: 5%;
    font-size: 30px;
}

#main{
    background-color: green;
    height: 440px;
}

#mainText{
    padding-top: 11%;
    font-size: 30px;
    margin : 0;
}

footer{
    background-color : pink;
    height: 120px;
    padding-top: 4%;
    font-size: 30px;
}

ul{
    list-style-type: none;
    margin : 0;
    padding: 0;
    overflow:hidden;
    background-color: yellow;
    height: 40px;
    border: 1px solid #555;
}

li{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #555;
}


